// 重写element-ui form组件样式
@import "~styles/variable.styl"
>>> .el-form-item {
  margin: 0 .2rem .44rem 0;
}
>>> label {
  height: .8rem;
  line-height: .8rem;
  margin-right: .2rem;
  white-space nowrap
}
>>> .el-form-item__content {
  height: .8rem;
  min-height: 30px;
  line-height: 100%;
    input {
      height: .8rem;
      min-height: 30px;
      line-height: 100%;
    }
    .el-input__icon {
      line-height: 100%;
    }
}
