$bgColor = rgba(99, 155, 255, 1)
$btnBgColor = rgba(33, 116, 254, 1) // 蓝色
$btnBgColor-active = rgba(33, 116, 254, .8) // 蓝色
$resetBtnBgColor = rgba(255,153,0,1) // 橘色
$resetBtnBgColor-active = rgba(255, 153, 0, .8) // 橘色

$darkTextColor = #333
$borderRadius = .1rem
$shadow = 5px 5px 15px rgba(215, 215, 215, 0.349019607843137)
